<h2><%= @company.name %></h2>
<h3>Proposed by <%= @company.user.full_name %></h3>
<p><strong>Cost: </strong>$<%= @company.cost %></p>
<hr>
<p>
    <%= link_to "<< Back", :back %>
    <% if member_signed_in? %>
        | 
        <%= link_to "Edit", edit_company_path %>
        |
        <%= link_to "Delete", @company, method: :delete, data: { confirm: "Are you sure you want to remove this company?" } %>
    <% end %>
</p>
